<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <!-- partials -->
    <%- include("partials/Header.ejs") %>
        <h2>Login page</h2>
</body>

</html>